/.github/ export-ignore
/tests/ export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/phpcs.xml export-ignore
/.githooks/ export-ignore
/bin/ export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
