/.github/ export-ignore

/docker-compose.yml export-ignore

/docker/ export-ignore

/Dockerfile export-ignore

/tests/ export-ignore

/.gitlab-ci.yml export-ignore
/.travis.yml export-ignore

/phpunit.xml export-ignore
/codeception.yml export-ignore
/psalm.xml export-ignore

/README.md export-ignore

/.gitignore export-ignore
/.gitattributes export-ignore
